.message-card {
	position: relative;
	width: fit-content;
}

@media screen and (min-width: 768px) {
	/* limit message width on larger screens for readabilitty */
	.message-card {
		max-width: 55%;
	}
}

.message-card-me {
	padding-left: 40px;
	margin-left: auto;
}

.message-card-them {
	padding-right: 40px;
}

.message-card__message {
	min-width: 200px;
	padding: 10px 16px;
	margin-bottom: 10px;
	border-radius: 5px;
	position: relative;
}

.message-card__message-editing {
	opacity: 0.7;
}

.message-card__message-them {
	background: var(--primary-700);
	color: white;
}

.message-card__message-me {
	background: var(--secondary-700);
	color: white;
}

.message-card__message-last {
	margin-bottom: 30px;
}

.message-card__message-last::after {
	/* show speech bubble arrow on bottom left */
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	bottom: -12px;
}

/* speech bubble arrow for their messages */
.message-card__message-last.message-card__message-them::after {
	border-left: 10px solid var(--primary-700);
	border-right: 10px solid transparent;
	border-top: 10px solid var(--primary-700);
	border-bottom: 10px solid transparent;
	left: 6px;
}

/* speech bubble arrow for my messages */
.message-card__message-last.message-card__message-me::after {
	border-left: 10px solid transparent;
	border-right: 10px solid var(--secondary-700);
	border-top: 10px solid var(--secondary-700);
	border-bottom: 10px solid transparent;
	right: 6px;
}

.message-card__metadata {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	font-size: 14px;
}

.message-card__edited {
}

.message-card__status {
	width: 16px;
	text-align: right;
}

.message-card__read-status {
	color: var(--primary-800);
}

.message-card__edit {
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 50%;
	color: var(--secondary-800);
	background: var(--secondary-300);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.message-card__edit:hover {
	background: var(--secondary-400);
}
